@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

body {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleImage1,
.titleImage2 {
  width: 100px;
}
.titleImage1 {
  margin-left: 20px;
}

.container {
  width: 100%;
  height: 90vh;
  color: #fff;
  padding: 20px 50px;
}
.notes-container {
  display: flex;
  flex-wrap: wrap;
}

.note-wrapper {
  position: relative; /* Required for absolute positioning */
  background-color: rgba(#875654, #674664, #774645, 0.5);
  margin: 5px;
  border-radius: 20px;
  border: 0.4px solid rgba(0, 0, 0, 0.5);
}

.input-box {
  width: 400px;
  height: 250px;
  background-color: rgba(245, 245, 245, 0.5);
  color: #333;
  padding: 20px;
  margin: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
.delete-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute; /* Positioning it absolutely */
  bottom: 20px; /* Adjust the distance from the top */
  right: 20px; /* Adjust the distance from the right */
}
.btn {
  display: flex;
  align-items: center;
  background: #5fd6d2;
  color: #000;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 30px;
  margin-right: 50px;
  cursor: pointer;
}

.btn img {
  width: 20px;
  margin-right: 8px;
}
